main {
    padding: 0 5% 2rem 5%;
    background-color: #fafafa;
    color: #212529;
    font-family: sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.25rem;
}

nav.navbar {
    box-shadow: 0 2px 4px #212529;
}
